<html>

<head>
    <title>hihi</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sidemenu.css"/>
</head>

<body>
    <button type="button" id="floating_sidebar">사이드메뉴</button>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div id="main">
    <p>
        In incididunt consectetur culpa quis sint proident ex. Officia voluptate culpa non nostrud in consectetur dolore
        magna esse incididunt minim non. Exercitation magna pariatur esse proident nostrud consequat ad veniam. Occaecat
        nostrud ex occaecat incididunt consectetur exercitation aliquip do deserunt sint velit fugiat. Id dolore est
        sint ea excepteur consequat nulla culpa elit Lorem elit consectetur aute ad.

        Pariatur veniam duis incididunt excepteur exercitation fugiat quis. Id id Lorem ullamco labore consequat
        excepteur Lorem in eu ullamco. Id deserunt nostrud consequat quis incididunt cillum dolor anim elit ea
        reprehenderit.

        Incididunt ipsum pariatur consequat commodo sunt elit reprehenderit nisi aliqua. Labore voluptate ad elit
        commodo eiusmod pariatur. Cillum qui id Lorem aute velit consequat cupidatat ullamco in est. Sit est amet aliqua
        sunt nulla occaecat consectetur. Occaecat voluptate incididunt cillum tempor veniam veniam duis cupidatat.

        Amet commodo non velit amet ipsum. Est dolore nulla pariatur eu velit quis ea in cupidatat voluptate. Esse
        officia enim cupidatat consequat aute sunt ea dolore tempor est eu ea. Consequat fugiat laborum consectetur
        incididunt sint Lorem non. Nulla ipsum officia Lorem eu exercitation non ipsum consectetur est anim consectetur
        nisi. Consequat nisi velit sint aute. In eiusmod magna do eu.

        Exercitation do quis cupidatat esse qui do nulla esse quis voluptate consectetur ex. Deserunt sunt exercitation
        sit do duis ad irure do aliquip elit et. Laborum sint nisi et eiusmod incididunt. Pariatur nulla do est mollit
        dolore. Quis occaecat sit labore aute officia nulla sunt deserunt cupidatat fugiat commodo laborum qui anim.
        Velit magna sit fugiat pariatur laborum proident eiusmod.

        Consequat enim cillum commodo exercitation amet. Cupidatat irure cupidatat elit veniam sunt aliqua. Anim nostrud
        fugiat deserunt et officia deserunt pariatur nisi. Id occaecat aliquip irure reprehenderit consequat eiusmod
        pariatur reprehenderit. Et in aliqua adipisicing sit qui amet reprehenderit do commodo non id elit. Consectetur
        exercitation nostrud quis eu ea duis aliqua consequat incididunt ad sint.

        Consequat dolore labore nisi non Lorem quis minim consequat culpa laborum occaecat. Adipisicing cupidatat culpa
        non consectetur occaecat dolore excepteur eu mollit fugiat nostrud enim. Duis consectetur ea id non cillum ea
        excepteur sunt ex officia et tempor consequat fugiat. Eu nisi excepteur aliqua aliqua ea exercitation nostrud
        velit consectetur. Occaecat laboris proident qui exercitation veniam laboris ut officia cillum anim. Pariatur
        commodo dolore exercitation minim esse id pariatur velit est deserunt. Labore in reprehenderit consectetur
        excepteur officia irure.

        Ea ipsum incididunt anim ad aliqua veniam ut duis ea. Nostrud qui eu amet consequat minim aute nulla occaecat.
        Laboris eu ut tempor et velit cupidatat reprehenderit. Elit aliqua id proident et et nulla non sint culpa
        adipisicing exercitation. Consectetur amet tempor magna ut amet ullamco ut eu. Anim elit non duis labore. Minim
        ex est sint eu deserunt sit dolor eu nisi ea exercitation minim.

        Officia pariatur voluptate adipisicing adipisicing veniam cupidatat cupidatat laboris. Tempor nulla mollit
        reprehenderit incididunt magna incididunt pariatur nisi excepteur non est deserunt officia. Et aute officia enim
        exercitation labore elit adipisicing dolore aute pariatur adipisicing dolor ut et.

        Et proident ad ea consectetur velit nisi consectetur sint. Incididunt aute labore duis ipsum excepteur deserunt
        aliquip sunt et quis elit duis id. Eiusmod ex laboris non ullamco quis in do.
    </p>
    </div>
    <script type="text/javascript" src="/js/sidemenu.js"></script>
</body>

</html>