<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dbe9c06d6b.js" crossorigin="anonymous"></script>
    <title>DASHBOARD</title>
    <script type="text/javascript" src="./js/webOS.js"></script>
    <script type="text/javascript" src="./js/rc.js"></script>
    <script type="text/javascript" src="./js/infortainment.js"></script>
    <style>
      body {
        background-color: rgb(61,62,93);
        height: 900px;
      }
      div.topbar {
        font-size: 30px;
        height: 100px;
        padding-left: 800px;
        background-color:rgb(30,36,59);
        padding-top: 25px;
      }

      div.topbar a {
        color:white;
        text-align:"center"
      }

      #box1 {
        width: 1600px;
        height: 300px;
        margin-top: 60px;
        margin-left: 150px;
      }
      #box-head{
        width: 900px;
        height: 30px;
      }
      .border {
        display: inline-block;
        width: 500px;
        height: 300px;
        margin: 6px;
        padding: 20px;
      }
      #gear {
        width: 400px;
        height: 300px;
        margin: 6px;
        padding: 20px;
        background-color: rgb(51,53,80);
        color: rgb(109,131,190);
      }
      #speed {
        width: 550px;
        height: 300px;
        margin: 6px;
        padding: 20px;
        color: rgb(178, 171, 85);
        background-color: rgb(51,53,80);
      }
      #system {
        width: 550px;
        height: 300px;
        margin: 6px;
        padding: 20px;
        color: rgb(209,116,57);
        background-color: rgb(51,53,80);
      }
      #system-day-font {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
        color:white;
      }
      #system-time-font {
        margin-top: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 80px;
        text-align: center;
        color:white;
      }
      #information {
        width: 900px;
        height: 300px;
        margin: 6px;
        padding: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        color:rgb(142,162,201);
        background-color: rgb(51,53,80);
      }
      #information-line {
        float:left;
        width: 900px;
        height: 250px;
      }
      #temper {
        float:left;
        width: 300px;
      }
      #temper-text {
        text-align: center;
        font-size: 80px;
        color:white;
      }
      #icon-list {
        width: 540px;
      }
      #lock {
        width: 616px;
        height: 300px;
        margin: 6px;
        padding: 20px;
        color:rgb(164,17,62);
        /*background: linear-gradient(to bottom, #cc0000 5%,#cc5353 39%,#cc4141 74%);*/
        background-color:rgb(51,53,80);
      }
      div.btn_start {
        margin: auto;
        width: 50%;
        height: 240px;
        margin-bottom: 10px;
        color: rgb(225,78,85);
      }
      div.btn_start input{
        padding: 5px;
        width: 100%;
        font-size: 20px;
      }
      div.lock_status {
        margin: auto;
        width: 50%;
        height:150px;
        
        margin-bottom: 10px;
      }
      div.lock_status i {
        margin: auto;
        padding: 5px;
        font-size: 64px;
        width: 100%;
        height: 144px;
        padding-left: 107px;
        padding-right: 107px;
        padding-top: 35px;
        padding-bottom: 35px;
      }
      div.lock_status lock_status_icon {
        margin: auto;
        width: 50%;
        margin-bottom:10px;
      }
      #gear-word{
        color:white;
        font-size: 100px;
        letter-spacing: 0em;
        font-weight: 800;
        font-style: normal;
        padding-top: 20px;
        text-align: center;
      }
      #gear-text{
        color:white;
        font-size: 30px;
        font-style: normal;
        text-align: center;
      }
      #speed-font{
        color:white;
        font-size: 100px;
        letter-spacing: 0em;
        font-weight: 100;
        font-style: normal;
        padding-top: 20px;
        text-align: center;
        line-height: 150px;
      }
      #speed-font-unit{
        color:white;
        font-size: 30px;
        font-style: normal;
        text-align: center;
      }
      #temper-img{
        width:150px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
      }
      #temper-num{
        color:white;
        font-size: 30px;
        width:150px;
        text-align: center;
        margin-left: 50px;
      }
    </style>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      function getTime(){
        const week = ["일", "월", "화", "수", "목", "금", "토"];
        const time = new Date();
        const year = time.getFullYear();
        const month = time.getMonth()+1;
        const date = time.getDate();
        const hour = time.getHours();
        const minutes = time.getMinutes();
        const seconds = time.getSeconds();
        const Day = week[time.getDay()];
        document.getElementById("system-day-font").innerHTML = `${year}-${month<10 ? `0${month}`:month}-${date<10 ? `0${date}`:date} ${Day}`
        document.getElementById("system-time-font").innerHTML = `${hour<10 ? `0${hour}`:hour}:${minutes<10 ? `0${minutes}`:minutes}:${seconds<10 ? `0${seconds}`:seconds}`
      }
      setInterval(getTime, 1000);

      var socket = io();
      socket.on("status", (data) =>{
        document.getElementById("gear-word").innerHTML = data.word;
        document.getElementById("gear-text").innerHTML = data.text;
        document.getElementById("speed-font").innerHTML = data.speed;
      });

      socket.on("car_engine", (data) => {
        var status = data.status;
        console.log("status : " + status);
        if(status == "start"){
          console.log("start..");
          document.getElementById("lock_icon").style.color = "green";
          document.getElementById("btn_engine").value = "Engine Stop";
          document.getElementById("btn_engine").onclick = stop_engine;
        }
        if(status == "stop"){
          console.log("stop..");
          document.getElementById("lock_icon").style.color = "#a4113e";
          document.getElementById("btn_engine").value = "Engine Start";
          document.getElementById("btn_engine").onclick = start_engine;
        }
      });
      socket.on("user-auth", (data) => {
        var status = data.status;
        if(status == "no auth")
          console.log("no authorization");
        else if(status == "no power")
          console.log("no power");
      });
    </script>
    <div class="topbar">
      <a href="#">J.A.R.V.I.S DASHBOARD</a>
    </div>
    <div>
      <div class="container-fluid">
        <div id="box1" class="row">
          <div id="gear">
            <svg class="bi bi-gear" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"/>
              <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"/>
            </svg><b> GEAR</b>
            <div>
              <p id="gear-word">P</p>
              <p id="gear-text">정지</p>
            </div>
          </div>
          <div id="speed">
            <svg class="bi bi-lightning-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
            </svg><b> SPEED</b>
            <div>
              <p id="speed-font">0</p>
              <p id="speed-font-unit">KM/H</p>
            </div>
          </div>
          <div id="system">
            <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg><b> CLOCK</b>
            <p id=system-day-font>0000-00-00</p>
            <p id="system-time-font">00:00</p>
          </div>
        </div>
        <div id="box1" class="row">
          <div id="information">
            <div id="box-head">
              <svg class="bi bi-droplet-half" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                <path d="M14 10a6 6 0 0 1-12 0s2.5 2.5 6.5.5S14 10 14 10z"/>
              </svg><b> Information</b>
            </div>
            <div id="information-line">
              <div id="temper">
                <img id="temper-img" src="./media/sun.jpg">
                <p id="temper-num">29 ℃</p>
              </div>
              <div id="temper">
                <img id="temper-img" src="./media/sun.jpg">
                <p id="temper-num">29 ℃</p>
              </div>
              <div id="temper">
                <img id="temper-img" src="./media/sun.jpg">
                <p id="temper-num">29 ℃</p>
              </div>
            </div>
          </div>
          <div id="lock">
            <div id="box-head">
              <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
              </svg><b> LOCK</b>
            </div>
            <div class="lock_status">
              <div id="lock_icon" class="lock_status_icon">
                <i class="fas fa-power-off"></i>
              </div>
            </div>
            <div class="btn_start">
              <input id="btn_engine" type="button" onclick="start_engine();" value="Engine Start"></input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>