<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Remote Controller for Connected Car by Rora</title>
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./js/webOS.js"></script>
    <script type="text/javascript" src="./js/rc.js"></script>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on("status", (data) =>{
        console.log("status-success");
        socket.emit("status2", "test");
      });
    </script>
    <div id="app">
      <img src="./media/logo_ESSC.jpg">
      <h1 id="test">name :  
        <% if(auth){ %>
          <span class="name"><%= auth %></span>
        <% } else { %>
          <span class="stranger">미인증</span>
        <% } %>
      </h1>
      <div id="control">
        <input type="button" id="forward" onclick="forward()" value="Go">
        <input type="button" id="backward" onclick="backward();" value="Back">
        <input type="button" id="right" onclick="right();" value="Right">
        <input type="button" id="left" onclick="left();" value="Left">
        <input type="button" id="stop" onclick="stop();" value="Stop">
      </div>
    </div>
  </body>
</html>