<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dbe9c06d6b.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>WINDOWS</title>
    <script type="text/javascript" src="/js/webOS.js"></script>
    <script type="text/javascript" src="/js/face_utils.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/window.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      socket.on("open_camera", (data) => {
        if(data.status == "open"){
          console.log("[+] camera open");
          opencamera();
          
          // 테스트 코드
          /****/
          //var test_data = {result: true, userid: 'scy', username: '소찬영'};
          //socket.emit('auth-data', test_data);
          /****/
        }
      });

      socket.on("face_auth_success", (data) => {
        console.log("[+] success auth");
        console.log(data);
        face_auth_success(data);
      });

      socket.on("face_auth_fail", (data) => {
        console.log("[+] fail auth");
        console.log(data);
        face_auth_fail();
      });

      socket.on("logout_signal", (data) => {
        console.log("[+] service logout");
        location.reload(true);
      });
    </script>
  </head>
  <body>
    <div id="background">
      <div id="left-section">
        <div class="face-auth-area">
          <div class="camera-area">
            <img id="face-auth-camera" src="./media/face-auth.png">
          </div>
          <div class="face-auth-text">
            <span id="face-auth-text-span" class="light">
              얼굴인식을 시작하려면 창문을 두드려주세요
            </span>
          </div>
        </div>
      </div>
      <div id="right-section">
        <div class="right-section-logo">
          <img src="./media/jarvis_logo.png">
        </div>
        <div class="right-section-car">
          <img src="./media/jarvis_my_car.png">
        </div>
        <div class="reservation-status">
            <i id="reservation-status-mark" class="fas fa-spinner fa-pulse fa-3x"></i>
            <strong id="reservation-status-text" class="reservation-wait">대기중</strong>
        </div>
        <!--성공하면 출력할 결과물-->
        <div id="reservation-result-area" class="reservation-contents">
          <div class="user-name">
            <span class="extra">사용자 | </span>
            <span id="jarvisuser" class="light"></span>
          </div>
          <!--
          <div class="reserved-time">
            <span class="extra">예약시간 | </span>
            <span id="reserved-time-text" class="time">2020년 09월 17일 오후 07시 10분</span>
          </div>
          <div class="car-number">
            <span class="extra">차량번경 | </span>
            <span id="reserved-car-number" class="light">123-가-1234</span>
          </div>
        </div>-->
      </div>
    </div>
  </body>
</html>