<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dbe9c06d6b.js" crossorigin="anonymous"></script>
    <title>DASHBOARD</title>
    <script type="text/javascript" src="./js/webOS.js"></script>
    <script type="text/javascript" src="./js/rc.js"></script>
    <script type="text/javascript" src="./js/infortainment.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      socket.on("assistant_status", (data) => {
        var status = data.status;
        if (status == "start") {
          document.getElementById("voice_img").style.color = "tomato";
          console.log("[+] vpa start");
        }
        if (status == "stop") {
          document.getElementById("voice_img").style.color = "rgb(191,191,191)";
          console.log("[+] vpa stop");
        }
      })

      socket.on("car_engine", (data) => {
        var status = data.status;
        console.log("status : " + status);
        if (status == "start") {
          console.log("start..");
          document.getElementById("lock_icon").style.color = "green";
          document.getElementById("btn_engine").value = "Engine Stop";
          document.getElementById("btn_engine").onclick = stop_engine;
        }
        if (status == "stop") {
          console.log("stop..");
          document.getElementById("lock_icon").style.color = "#a4113e";
          document.getElementById("btn_engine").value = "Engine Start";
          document.getElementById("btn_engine").onclick = start_engine;
        }
      });
      socket.on("user-auth", (data) => {
        var status = data.status;
        if (status == "no auth")
          console.log("no authorization");
        else if (status == "no power")
          console.log("no power");
      });
    </script>
  </head>
  <body>
    <div class="topbar">
        <ul class="topbar-item">
          <a href="./dashboard">사용자 인증</a>
        </ul>
    </div>
    <div class="board">
      <div class="container">
        <div class="camera-area">
          <img class="picamera" src="https://i.stack.imgur.com/aKJ5L.png">
        </div>
        <div class="status-area">
          <div class="status-head">
            <span class="status-title">잠김</span>
          </div>
          <div class="status-board">
            <div class="status-board-left">
              <div class="left-keyword">
                <span>이름 : </span>
              </div>
              <div class="left-keyword">
                <span>시간 : </span>
              </div>
              <div class="left-keyword">
                <span>등급 : </span>
              </div>
            </div>
            <div class="status-board-right">
              <div class="left-keyword">
                <span id="board-name"></span>
              </div>
              <div class="left-keyword">
                <span id="board-time" class="auth-time">2020-08-16 15:20</span>
              </div>
              <div class="left-keyword">
                <span board-grade>master</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>