html { width: 1024px; height: 600px; } 
body { width: 100%; height: 100%;} 
#app { width: 100%; height: 100%;} 

#content { 
    background-color : white;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 3rem;
    font-family: 'NanumSquare', sans-serif;  
}

.input-group-text {
    width: 6rem;
}

#RegistrationSubmit {    
    position : fixed;
    width: 900px;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.col { 
    padding-left: 0;
    padding-right: 0;
}

/*smart home css*/
#smarthome_menu {
    width: 100%;
    height: 70%;
}

#smarthome_menu_line1 {
    width: 100%;
    height: 50%;
    margin-top: 15px;
}

#smarthome_menu_box_led {
    float: left;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #CD005D;
    color: white;
}

#smarthome_menu_box_cctv {
    float: left;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #00A4C7;
    color:white;
}

#smarthome_menu_box_waterworks {
    float: left;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #8AD401;
    color: white;
}

#smarthome_menu_box_boiler {
    float: left;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #04B284;
    color: white;
}

#smarthome_menu_box_powerplug {
    float: left;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #FFBE00;
    color: white;
}

#smarthome_menu_box_washer {
    float: left;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-left: 8px;
    background-color: #C40198;
    color: white;
}