html { width: 1024px; height: 600px; } 
body { width: 100%; height: 100%;} 
#app { width: 100%; height: 100%;} 

#content { 
    background-color : white;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding: 3rem;   
}
